<div class="card" style="margin-top: 20px;">
  <div class="card-body">
    <div>
      Monat: <%= month_name @monthly.month %>
    </div>
    <div>
      Summe: <%= fix_it(@monthly.bill) %>
    </div>
  </div>
</div>
