<div class="card mb-sm-3 mt-sm-3">
  <div class="card-body">
    <div>
      <b><%= month_name @monthly.month %> <%= @monthly.year %></b>
    </div>
    <div>
      Summe: <%= fix_it(@monthly.bill) %>
    </div>
  </div>
</div>
