<div class="row">
  <div class="col-sm">
    <%= render 'expenses/monthly/monthly_form' %>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <span id="monthly">

    </span>
  </div>
</div>


